.navbar {
    background-color: #00497c;
}
footer {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 40px;
    background-color: #00497c;
}
.navbar-brand {
    color: white;
}
button.btn-outline-success {
    background-color: white;
    color: white;
    border-color: white;
}

.trajet {
    background-color: #00497c;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}
.itemNav {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

